# There can be only one CODEOWNERS file in the repo for clarity. See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-file-location

# Catch-all rule comes first

* @databrickslabs/sandbox-write

# Specific owners are listed last. Please keep this list in the alphabetical order

acceptance                 @nfx @alexott
database-diagram-builder   @alexott
downstreams                @nfx @alexott
go-libs                    @nfx @alexott
ip_access_list_analyzer    @alexott
ka-chat-bot                @taiga-db
metascan                   @nfx @alexott
runtime-packages           @nfx @alexott
sql_migration_copilot      @robertwhiffin
tacklebox                  @Jonathan-Choi
uc-catalog-cloning         @esiol-db @vasco-lopes
.github                    @nfx @alexott @gueniai