# There can be only one CODEOWNERS file in the repo for clarity. See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-file-location

# Catch-all rule comes first

* @databrickslabs/sandbox-write

# Specific owners are listed last. Please keep this list in the alphabetical order

acceptance                 @nfx @alexott
conversational-agent-app   @vivian-xie-db @yuanchaoma-db
database-diagram-builder   @alexott
downstreams                @nfx @alexott
feature-registry-app       @yang-chengg @mparkhe @mingyangge-db @stephanielu5
go-libs                    @nfx @alexott
ip_access_list_analyzer    @alexott
judge-builder              @smoorjani @alkispoly-db
ka-chat-bot                @taiga-db
metascan                   @nfx @alexott
runtime-packages           @nfx @alexott
sql_migration_copilot      @robertwhiffin
tacklebox                  @Jonathan-Choi
uc-catalog-cloning         @esiol-db @vasco-lopes
uc-quickstart              @abhidatabricks @louiscsq
.github                    @nfx @alexott @gueniai