[tool.poetry]
name = "databricks-labs-sandbox"
version = "0.0.1"
description = "Experimental and low-maturity scripts"
authors = ["Databricks Labs"]
packages = [
    {include = "ip_access_list_analyzer"}
]

[tool.poetry.dependencies]
python = ">=3.8,<3.12"
databricks-sdk = "^0.27.1"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"