# The main job for schema {{.schema_name}}
# This job will trigger in the schema pipeline

resources:
  jobs:
    {{.schema_name}}_job:
      name: {{.schema_name}}_job
      tasks:
        - task_key: {{.schema_name}}_pipeline_refresh
          pipeline_task:
            pipeline_id: ${resources.pipelines.{{.schema_name}}_pipeline.id}
      trigger:
        file_arrival:
          url: /Volumes/{{.catalog_name}}/${resources.schemas.{{.schema_name}}.name}/{{.schema_name}}_volume/
        pause_status: UNPAUSED
