-- Kernel template for read_files
SELECT
  *
FROM
  read_files(
    '%s'
    ,
    -- Do not change anything above
    -- Add any additional options below
    -- Example:
    -- header => 'true',
    -- escape => '"'
  )
