import dlt

@dlt.table(
  name="{{.connector_name}}_raw",
  comment="A streaming table created by filepush bundle {{.connector_name}}.",
  table_properties={
    "volume_path": "{{template `volume_path` .}}"
  }
)
def {{.connector_name}}_raw():
  with open(f"./{{.connector_name}}_readfiles_kernel.sql", "r") as f:
    kernel_query = f.read()
  return spark.sql(kernel_query)
