# {{.connector_name}}_volume.yml
# The volume for {{.connector_name}}

resources:
  volumes:
    {{.connector_name}}_volume:
      name: {{.connector_name}}_volume
      catalog_name: {{.catalog_name}}
      schema_name: {{.schema_name}}
