# {{.connector_name}}_pipeline.yml
# The refresh pipeline for {{.connector_name}}

resources:
  pipelines:
    {{.connector_name}}_pipeline:
      name: {{.connector_name}}_pipeline
      catalog: {{.catalog_name}}
      schema: {{.schema_name}}
      serverless: true
      libraries:
        - file:
            path: ../src/pipelines/{{.connector_name}}_ingestion.py
