name: Release llnotes

on:
  push:
    tags:
      - 'llnotes/v*'

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write
    steps:
      - uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.21

      - name: Build
        run: /bin/bash .github/workflows/build.sh llnotes
    
      - name: Compress
        run: /bin/bash .github/workflows/compress.sh
      
      - name: Create release
        uses: softprops/action-gh-release@v2
        with:
          files: dist/*
